/* Root */

:root{
    --backGround: black;
    --foreGround: rgb(128, 128, 128, 0.0625);
}

/* Miscs */

@font-face{
    font-family: 'JetBrains';
    src: url(JetBrainsMono-Regular.ttf);
}

@keyframes fadeIn{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes widthAnim{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

@keyframes alphaAnim{
    from{
        color: transparent;
    }

    to{
        color: white;
    }
}

@keyframes galleryLoop{
    from{
        translate: 0 0;
    }

    to{
        translate: -150% 0;
    }
}

/* Elements */

/* Smooths scrolls the entire website */
html{
    scroll-behavior: smooth;
}

/* Give body 0 margin, background color, and set default font to JetBrains */
body{
    margin: 0;

    font-family: 'JetBrains';

    background-color: var(--backGround);
}

nav{
    top: 0;

    width: 100%;

    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);

    background-color: rgb(0, 0, 0, 0.25);
}

h1, h2, p, a{
    color: white;

    text-decoration: none;
}

footer{
    padding: 64px 256px;
}

/* IDs */

#sketchP5{
    top: 0;

    width: 100%;
    height: 100%;

    position: fixed;

    z-index: -1;
}

#greetings{
    width: 0;
    white-space: nowrap;

    /* animation: widthAnim 3s steps(40) forwards; */
}

#imgContainer{
    margin: 64px 0;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    animation: galleryLoop 15s linear infinite;
}

#imgContainer img{
    width: 50%;
}

#theStudioContent{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#theStudioContent img{
    margin: 0 16px;
    width: 512px;
}

#theStudioContent h1{
    background: linear-gradient(45deg, rgba(0, 0, 255, 1) 11%, rgba(0, 255, 255, 1) 100%);
    background-clip: text;

    color: transparent;
}

#me{
    margin: 0 16px;
}

#tools{
    width: 25%;
    height: 25%;
}

#socials{
    margin: 0 4px;

    width: 80%;
}

/* Classes */

.window{
    margin: 64px 256px;
    padding: 64px;

    overflow: hidden;
    border-radius: 16px;
}

.contentRow{
    display: flex;
    flex-direction: row;
}

.contentRowEven{
    display: flex;
    justify-content: space-between;
}

.cursorBlink{
    animation: alphaAnim 1s infinite;
}

.mainContent{
    margin: 64px 0;
    padding: 0;

    height: 512px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.glassEffect{
    backdrop-filter: blur(8px);

    background-color: var(--foreGround);

    box-shadow: -2px -2px 2px rgb(0, 0, 0, 0.125) inset, 2px 2px 2px rgb(255, 255, 255, 0.125) inset;
}

.largeText{
    margin: auto 12.5%;

    font-size: 8rem;
}

/* Gradient Button */
.gradientButton{
    padding: 16px 16px;

    text-decoration: none;

    border-radius: 16px;

    background: linear-gradient(45deg, rgba(0, 128, 255, 0) 0%, rgba(0, 128, 255, 0) 50%, rgba(0, 128, 255, 0.125) 67%, rgba(0, 128, 255, 0.25) 82%, rgba(0, 128, 255, 1) 100%);
    background-size: 200%;
    background-position: 0%;

    transition: 0.5s;
}

.gradientButton:hover{
    margin: 0 16px;

    background-position: 100%;
}

/* Logo */
.logoMain{
    margin: 0 16px;
    
    width: 96px;

    transition: 1s;
}

.logoMain:hover{
    width: 128px;
}