/* ---------------------------------------------------------------- Miscs ---------------------------------------------------------------- */

@font-face{
    font-family: 'JetBrains';
    src: url(JetBrainsMono-Regular.ttf);
}

@keyframes alphaAnim{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes galleryLoop{
    from{
        translate: 0 0;
    }

    to{
        translate: -150% 0;
    }
}

/* ---------------------------------------------------------------- Elements ---------------------------------------------------------------- */

html{
    /* Ensures no add margin or padding is added */
    margin: 0;
    padding: 0;

    /* Smoothes the scroll behavior */
    scroll-behavior: smooth;
}

body{
    /* Ensures no add margin or padding is added */
    margin: 0;
    padding: 0;

    /* Use my favorite font (the superior font) JetBrains */
    font-family: 'JetBrains';

    /* Background set to black */
    background-color: black;
}

/* Text elements */

h1, h2, p, a{
    /* Sets text color to white */
    color: white;
}

a{
    /* Sets text decoration for anchors (links) to none */
    text-decoration: none;
}

/* Semantic elements */

nav{
    top: 0;

    width: 100%;

    z-index: 1;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
}

header{
    height: 50vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

section{
    margin: 6.25vh 12.5vw;
    padding: 6.25vh;

    overflow: hidden;
    border-radius: 16px;
}

footer{
    padding: 6.25vh 12.5vw;
}

/* ---------------------------------------------------------------- IDs ---------------------------------------------------------------- */

#sketchP5{
    top: 0;

    width: 100vw;
    height: 100vh;

    position: fixed;

    border: none;

    z-index: -1;
}

#greetings{
    width: 0;
    white-space: nowrap;
}

#imgContainer{
    margin: 64px 0;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;

    animation: galleryLoop 15s linear infinite;
}

#imgContainer img{
    width: 50%;
}

#theStudioContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#theStudioContent img{
    margin: 0 1%;
    width: 25%;
}

#theStudioContent h1{
    margin: 0;
    background: linear-gradient(45deg, rgba(0, 0, 255, 1) 11%, rgba(0, 255, 255, 1) 100%);
    background-clip: text;

    color: transparent;
}

#me{
    margin: 0 16px;
}

/* ---------------------------------------------------------------- Classes ---------------------------------------------------------------- */

/* Common */

.glassEffect{
    backdrop-filter: blur(16px);

    background-color: rgb(0, 0, 0, 0.03125);
}

.embossTop{
    box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.25) inset;
}

.embossBottom{
    box-shadow: -2px -2px 2px rgb(0, 0, 0, 0.25) inset;
}

.embossFull{
    box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.25) inset, -2px -2px 2px rgb(0, 0, 0, 0.25) inset;
}

.gradientButton{
    padding: 16px 16px;

    text-decoration: none;

    border-radius: 16px;

    background: linear-gradient(45deg, rgba(0, 128, 255, 0) 0%, rgba(0, 128, 255, 0) 50%, rgba(0, 128, 255, 0.125) 67%, rgba(0, 128, 255, 0.25) 82%, rgba(0, 128, 255, 1) 100%);
    background-size: 200%;
    background-position: 0%;

    transition: 0.5s;
}

.gradientButton:hover{
    margin: 0 2vw;

    background-position: 100%;
}

.cursorBlink{
    animation: alphaAnim 1s infinite;
}

/* Layout */

.contentRow{
    display: flex;
    flex-direction: row;
}

.contentRowEven{
    display: flex;
    justify-content: space-between;
}

.largeText{
    margin: auto 12.5%;

    font-size: 8rem;
}

.socials{
    margin: 0 4px;

    width: 80%;
}

.tools{
    width: 25%;
    height: 25%;
}

/* Logo */
.logoMain{
    margin: 0 16px;
    
    width: 96px;

    transition: 1s;
}

.logoMain:hover{
    width: 128px;
}